.hero{
    height: calc(100vh - 100px);
   background: linear-gradient(180deg,#0c0c1d,#111132);
   overflow: hidden;
   position: relative;
   .wrapper{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    .textContainer{
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        
h2{
    top: 0.8cm;
    position: relative;
    font-size: 30px;
    color: rgb(122, 59, 185);
    letter-spacing: 10px;
}
h1{
    font-size: 88px;
}
.buttons{
button{
     top: -.7cm;
    position: relative;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 300;
    z-index: 2; 

}
}

        img{
            width: 50px;
           
        }
    }
   }
   .imageContainer{
    height: 100%;
    position: absolute;
    top: 0px;
    right: 50px;

    img{
        width: 550px;
        height: 650px;
        // object-fit: cover;
       }
   }
 .slidingTextContainer{
    position: absolute;
    font-size: 40vh;
    bottom: -12%;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
     z-index: 0; 
 }
}